/*Fuentes*/
@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

p{
  font-family: Poppins;
  font-size: 24px;
  color: #616161;
  text-align: justify;
  text-justify: inter-word;
  padding-right: 5%;
  padding-left: 5%;
}

li.lista{
    font-family: Poppins;
    font-size: 24px;
    color: #616161;
    text-align: justify;
    text-justify: inter-word;
    padding-right: 10%;
    padding-left: 10%;
}


h4{
  text-align: center;
  text-justify: inter-word;
  padding-right: 5%;
  padding-left: 5%;
}

b.parrafo{
  font-family: Poppins;
  font-size: 24px;
  font-size: 24px;
  color: #616161;
  text-align: justify;
  text-justify: inter-word;
  padding-right: 0%;
  padding-left: 0%;
}



h1 {
  font-family: Poppins;
  font-size: 40px;
  color: #128a00;
}

h2 {
  font-family: Poppins;
  font-size: 30px;
  color: #128a00;
  text-align: center;
}

h2.texto {
  font-family: Poppins-Bold;
  font-size: 30px;
  color: red;
  text-align: left;
}



/*Hero */

body {
    margin: 0;
    font-family: sans-serif;
}


.tabbable {
  border: 10px solid green;
  padding: 10px;
  margin: 20px;
}

.hero {
    /* Sizing */
    width: 100vw;
    height: 100vh;

    /* Flexbox stuff */
    display: flex;
    justify-content: center;
    align-items: center;

    /* Text styles */
    text-align: center;
    color: white; /* ADD THIS LINE */

    /* Background styles */
    background-image: url('https://codetheweb.blog/assets/img/posts/full-image-hero/image.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.hero h1 {
    /* Text styles */
    font-size: 5em;
    font-family: Poppins-Bold;
    color: #FFFFFF;
    font-size: 100px;
    /* Margins */
    margin-top: 0;
    margin-bottom: 0.5em;
}

.hero h2 {
    /* Text styles */
    color: #FFFFFF;
    font-size: 30px;
    /* Margins */
    margin-top: 0;
    margin-bottom: 0.5em;
}


.hero  {
    /* Positioning and sizing */
    display: block;
    width: 100px;

    /* Padding and margins */
    padding: 0em;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;

    /* Border styles */
    border: 2px solid white; /* CHANGE THIS LINE */
    border-radius: 0px;

/**/
    /* Sizing */
    width: 100%;
    height: 70vh;

    /* Flexbox stuff */
    display: flex;
    justify-content: center;
    align-items: center;

    /* Text styles */
    text-align: center;
    color: white;

    /* Background styles */
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url('socio2.jpeg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;

}


.hero .btn {
    /* Positioning and sizing */
    display: block;
    width: 200px;

    /* Padding and margins */
    padding: 1em;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;

    /* Text styles */
    color: white;
    text-decoration: none;
    font-size: 1.5em;

    /* Border styles */
    border: 3px solid white;
    border-radius: 20px;

    /* Background styles */
    background-color: rgba(147, 112, 219, 0.8);
}



input[type="number"] {
  max-width: 80%;
}

div.outer {
  position: fixed;
  top: 41px;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  padding: 0;
}

/* Customize fonts */
body, label, input, button, select {
  font-family: 'Helvetica Neue', Helvetica;
  font-weight: 200;
}
h1, h2, h3, h4 { font-weight: 400; }

#controls {
  /* Appearance */
  background-color: white;
  padding: 0 20px 20px 20px;
  cursor: move;
  /* Fade out while not hovering */
  opacity: 0.65;
  zoom: 0.9;
  transition: opacity 500ms 1s;
}
#controls:hover {
  /* Fade in while hovering */
  opacity: 0.95;
  transition-delay: 0;
}

/* Position and style citation */
#cite {
  position: absolute;
  bottom: 10px;
  left: 10px;
  font-size: 12px;
}

/* If not using map tiles, show a white background */
.leaflet-container {
  background-color: white !important;
}
